.single__product {
  margin-top: 80px;
}

.single__product .col-2 img {
  padding: 0;
}

.single__product .col-2 {
  padding: 20px;
  font-size: 10px;
  margin-top: 20px;
}

.single__product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single__product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single__product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ffd741;
}

input:focus {
  outline: none;
}

.single__product h3 i {
  color: #ffd741;
}

.small__img__row {
  display: flex;
  justify-content: space-between;
}

.small__img__col {
  flex-basis: 24%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .single__product .row {
    text-align: left;
  }

  .single__product .col-2 {
    padding: 20px 0;
  }

  .single__product h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
